<header class="bg-danger row">
    <a class="col ms-5" href="/">Home</a>
    <h5 class="col text-center">{{ flush.success }}</h5>
    <a class="col text-end me-5" href="/article/create">Create article</a>
</header>